
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Dashbord</a>
    </li>
  </ul>
  <h2 style="color: aqua; background-color: brown; text-align: center;">Dashbord</h2>
     <div class="dash">
         <div class="box1">
             <h1>{{Designation}}</h1>
             <img src="assets\img\IMG_1870-1.JPG" />
             <h1 style="background-color: transparent;color:white;">{{UserName}}</h1>
             <ul>
                 <li>No Of TeamMember <span>{{NoOfTeamMember}}</span></li>
                 <li>Total Cost Of All pro  <span>{{TotalCostOfAllProjects}}</span></li>
                 <li>Pending Projects int <span>{{PendingTask}}</span></li>
                 <li>Upcomming Project <span>{{UpcommingProject}}</span></li>
             </ul>
             <h1 style="background-color: rgb(39, 46, 46); margin-bottom: 10px;">Client</h1>
             <ul>
                <li>No Of Team Member </li>
                <li>Total Cost Of All project</li>
                <li>Pending Projects  </li>
                <li>Upcomming Project</li>
            </ul>

         </div>

     </div>
