.Main{
    width: 80%;
    margin-left: 18%;
}
.image-preview-box{
    border: 1px solid rgb(245, 241, 241);
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    /* float: left; */
    min-height: 180px;
    min-width: 100px;
    margin: 44px auto;
    width: 200px;
}