
<div class="main">
    <div class="Header">
        <div>
            <button class="au-btn au-btn-icon au-btn--green au-btn--small" routerLink="/semester/new">
                <i class="zmdi zmdi-plus"></i>add Semester</button>
    
        </div>
    <div>
        <form class="form-header" action="" method="POST">
            <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for Information &amp; reports..." />
            <button class="au-btn--submit" type="submit">
                <i class="zmdi zmdi-search"></i>
            </button>
        </form>
    </div>
    </div>
    <div class="sec">
    <div class="row m-t-30">
        <div class="col-md-12">
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>Semester Name</th>
                            
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let objsemester of lstsemester">
                            <td >{{objsemester.SemesterName}}</td>
                            <td> <a routerLink="../{{ objsemester.SemesterId }}/edit"
                            >Edit
                            </a></td>
                    
                        </tr>
                     
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>
    </div>
    </div>

