<div class="Main">
    <div class="page-wrapper" style="height: 1700px;">
      <div class="page-content--bge5">
          <div class="container">
              <div class="login-wrap">
                  <div class="login-content">
                      <div class="login-logo">
                          <a href="#">
                              <img src="assets\images\icon\diuIcon.png" alt="DIU User">
                          </a>
                      </div>
                      <div class="login-form">
  <form>
    <div class="form-group">
        <label>Course Code</label>
        <input type="text" [(ngModel)]="objcourse.CourseCode" name="StudentName" class="au-input au-input--full"  autocomplete="off">
      </div>
    <div class="form-group">
      <label>Course Name </label>
      <input type="text" class="au-input au-input--full" [(ngModel)]="objcourse.CourseName" name="Email" aria-describedby="emailHelp" autocomplete="off">
    </div>
    <div class="form-group">
        <label>Course Credit </label>
        <input type="number" [(ngModel)]="objcourse.CourseCredit" name="Mobile" class="au-input au-input--full"  autocomplete="off">
      </div>
      <div class="form-group">
        <label>Course Fee</label>
        <input type="number" [(ngModel)]="objcourse.CourseFee" name="BloodGroup" class="au-input au-input--full"  autocomplete="off">
      </div>
     
      <div class="form-group">
        <label>Status</label>
        <select name="Status" class="form-control"
  [(ngModel)]="objcourse.Status">
  <!-- <option [value]="-1">-Select-</option> -->
  <option *ngFor="let status of lstStatus"
  [value]="status.key">{{status.value}}</option>
  </select>
      </div>
      <button type="submit" (click)="AddCourse()" class="btn btn-primary">Add Course</button>
    </form> 
    
  </div>
