
    <div class="main">
        <div class="Header">
            <div>
                <button class="au-btn au-btn-icon au-btn--green au-btn--small"routerLink="/teacher/new">
                    <i class="zmdi zmdi-plus"></i>Add Teacher</button>
        
            </div>
        <div>
            <form class="form-header" action="" method="POST">
                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for Information &amp; reports..." />
                <button class="au-btn--submit" type="submit">
                    <i class="zmdi zmdi-search"></i>
                </button>
            </form>
        </div>
        </div>
        <div class="row m-t-30">
            <div class="col-md-12">
                <!-- DATA TABLE-->
                <div class="table-responsive m-b-40">
                    <table class="table table-borderless table-data3">
                        <thead>
                            <tr>
                                <th>Teacher Name</th>
                                <th>Teacher Code</th>
                                <th>TeacherInitial</th>
                                <th>Email Address</th>
                                <th>Mobile Number</th>
                                <th>Date Of Birth</th>
                                <th>Blood Group</th>
                                <th>Address</th>
                                
                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            <tr *ngFor="let objteacher of lstteacher">
                                <td >{{objteacher.TeacherName}}</td>
                                <td>{{objteacher.TeacherCode}}</td>
                                <td>{{objteacher.TeacherInitial}}</td>
                            <td>{{objteacher.Email}}</td>
                            <td>{{objteacher.Mobile}}</td>
                            <td>{{objteacher.DateOfBirth}}</td>
                           <td>{{objteacher.BloodGroup}}</td>
                           <td>{{objteacher.Address}}</td>
                            <td> <a routerLink="{{ objteacher.TeacherId }}/edit">Edit</a></td>
                            <td> <a routerLink="{{ objteacher.TeacherId }}/edit">Delete</a></td>
        
                            </tr>
                         
                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE-->
            </div>
        </div>
        </div>

